<div class="alert alert-success mt-5" role="alert" *ngIf="userSuccess">
  <mat-icon svgIcon="success" class="text-success"></mat-icon> <strong> {{Message}}</strong>
 </div>
<div class="parent mt-5" *ngIf="!isLoaded ; else questionData">
  <div class="div1 mt-5">
    <ngx-skeleton-loader class=" ms-2 mt-3 d-block" count="1"
    [theme]="{width: '0',height:'0',  'border-style': 'solid','border-width': '0 27px 36px 27px',
    'border-color': 'transparent transparent #98BFD6 transparent'}" appearance="line"></ngx-skeleton-loader>
    <ngx-skeleton-loader  count="1" appearance="circle" class="ms-2"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="w-25 ms-2 mt-3 d-block" count="1"
    [theme]="{width: '0',height:'0',  'border-style': 'solid','border-width': '36px 27px 0 27px',
    'border-color': '#98BFD6 transparent transparent transparent'}" appearance="line"></ngx-skeleton-loader>
  </div>
  <div class="div2">
    <div>
      <mat-card  class="m-auto">
      <div class="d-flex ms-5" >
      <ngx-skeleton-loader  count="1" appearance="circle"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="col-2 ms-2 mt-3" count="1" appearance="line"></ngx-skeleton-loader>
    </div>
    <div class="d-flex justify-content-center">
      <ngx-skeleton-loader count="4" appearance="line" class="d-grid  col-8"></ngx-skeleton-loader>
    </div>
    <ngx-skeleton-loader count="1" appearance="line" class="d-grid  col-5 ms-5"></ngx-skeleton-loader>
    </mat-card>
    </div>
  </div>
  </div>
<ng-template #questionData>
  <div class="parent mb-5 mt-5">
    <div class="div1" >
      <div class="container text-center" >
        <div class="row d-grid g-2 g-lg-3 ">
          <div class="col">
            <div class="p-3 col-2" ><button  class="border-0 bg-transparent voteButton" [disabled]="isAuthor || oneClick" (click)="votingonQuestion(question._id, 'up')"> <mat-icon placement="top" ngbTooltip="Upvote" svgIcon="arrowup2"></mat-icon> </button></div>
          </div>
          <div class="col">
            <div class="p-1 ms-3 col-2 border bg-light">
              <p>{{question.votes}}</p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 col-2">
              <button class="border-0 bg-transparent voteButton" [disabled]="isAuthor || oneClick"  (click)="votingonQuestion(question._id, 'down')"><mat-icon  placement="bottom" ngbTooltip="Downvote" svgIcon="arrowdown"></mat-icon></button>
            </div>
          </div>
        </div>
      </div>
      <div class="" >
        <button class="border-0 bg-transparent ms-4" (click)="BookmarkQuestion(question._id)">
          <mat-icon svgIcon="bookmark" class="bookmark bookmarked" [ngClass]="{'bookmarked' : bookmarkStatus}"  placement="end " ngbTooltip="Bookmark this Question ? , to remove bookmark go to Bookmark page"></mat-icon>
          </button>

        <!--class="bookmarked" *ngClass="{bookmarked: true}"-->
      </div>
    </div>
    <div class="div2">
      <div class="alert alert-warning mt-2 w-100 alertDiv">
        <div class="btn btn-outline-warning text-dark"><mat-icon svgIcon="warning" class="text-warning"></mat-icon> <strong class="fs-5"> About Voting </strong></div>
        <ul >
          <li> <strong>Author:</strong> You can't vote on your own question</li>
          <li> <strong>Voter:</strong> You can vote on any question you have not voted on</li>
          <li> <strong>Voter:</strong> You can vote only once on any question</li>
        </ul>
      </div>
      <mat-card  class="example-card overflow-auto mt-5">
        <mat-card-header class="container">
            <img mat-card-avatar class="qtitle" (click)="gotouserprofile(question.userId)" src="{{question.authorpImage}}" alt="{{question.author}}_ProfilePicture">
            <mat-card-title class="fw-bold qtitle" (click)="gotouserprofile(question.userId)">{{question.author}}</mat-card-title>
            <mat-card-subtitle><mat-icon svgIcon="clock"></mat-icon> {{question.createdAt | date:'h:mm a,MMM d, y'}}</mat-card-subtitle>
            <mat-card-title>
              <div class="">
                <mat-icon svgIcon="answers" class="text-success" placement="top" ngbTooltip="Answers"></mat-icon>   <span class="me-2 ms-1 text-success">{{answerCount}}</span>
                <mat-icon svgIcon="votes" class="text-primary" placement="top" ngbTooltip="Votes"></mat-icon>   <span class="me-2 ms-1 text-primary">{{question.votes}}</span>
                <mat-icon svgIcon="views" class="text-info" placement="top" ngbTooltip="Views"></mat-icon>  <span class="me-2 ms-1 text-info">{{question.views}}</span>
              </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="ms-5">
            {{question.title}}
        </h1>
        </mat-card-content>
        <mat-card-content style="background-color: #F6F6F6;padding: 2%;" innerHTML="{{question.body}}">

        </mat-card-content>
        <div class="d-flex">
        <div class="badge" style="background-color:#283149;color: #C5E0EA; font-size: 100%;">  <mat-icon svgIcon="tags"></mat-icon> Tags :</div>
        <ul class="list-unstyled list-group list-group-horizontal" >
          <li *ngFor="let tag of question.tags" class="list-group-item border-0" class="badge rounded-pill mt-1 ms-2" style="color:#283149;background-color: #C5E0EA;font-size: 100%;" >{{tag}}</li>
        </ul>
      </div>
        <ul class="list-unstyled list-group list-group-horizontal p-2 mt-2" >
          <li mat-button class="list-group-item border-0" *ngIf="isAuthor">
            <button  class="btn btn-warning  fw-bold p-2" (click)="toEditPage(question._id)" routerLink="{{toEditQuestionPage}}"><mat-icon svgIcon="addquestion"></mat-icon> Edit </button>
          </li>
          <li mat-button class="list-group-item text-danger border-0" *ngIf="isAuthor">
            <button  class="btn text-danger fw-bold border-0" (click)="deletequestion(question._id)"><mat-icon svgIcon="delete"></mat-icon> Delete</button>
          </li>
        </ul>
      </mat-card>

      <hr class="mt-5">
      <h1 class="badge fw-bold" style="background-color:#283149;color: #C5E0EA; font-size: vw;">
        <mat-icon svgIcon="answers"></mat-icon> Answers : </h1>
        <form [formGroup]="answerDataForm" (ngSubmit)="addanswer(question._id)" class="ms-4">
          <h1 class="fw-bold"> Your Answer </h1>
          <div class="NgxEditor__Wrapper"style="height:100%;width: 95%;margin-bottom:1vw;" id="#answer">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor
              [editor]="editor"
              [placeholder]="'Min Length of Body is 6'"
              formControlName="body"
              [(ngModel)]="html"
              name="body"
               minlength="6"
               required
            ></ngx-editor>
          </div>
          <div class="d-flex justify-content-end me-5 mb-4">
            <button class="btn fw-bold submitanswer" style="background-color:#283149;color: #C5E0EA;" type="submit"
            [disabled]="AnswerData?.['body']?.invalid">
              <mat-icon svgIcon="send"></mat-icon> Submit answer</button>
          </div>
        </form>
        <div *ngIf="isAnswer" class="alert alert-info">
          <h2> <strong><mat-icon svgIcon="info"></mat-icon> There is no answers yet.</strong> </h2>
        </div >
      <div class="parent mb-5"  *ngIf="!isAnswer" >

        <div class="div1loading " >
          <div class="container text-center " *ngFor="let answer of AllAnswers | paginate: { itemsPerPage: 5, currentPage: p, totalItems: AllAnswers.count}">
            <div class="row d-grid g-2 g-lg-3 votePosition"  >
              <div class="col">
                <div class="p-3 col-2" ><button  class="border-0 bg-transparent voteButton" [disabled]="isAuthorAnswer || oneClickAnswer" (click)="votingonAnswer(answer._id,answer.userId, 'up')"> <mat-icon placement="top" ngbTooltip="Upvote" svgIcon="arrowup2"></mat-icon> </button></div>
              </div>
              <div class="col" >
                <div class="p-1 ms-3 col-2 border bg-light">
                  <p>{{answer.votes}}</p>
                </div>
              </div>
              <div class="col">
                <div class="p-3 col-2">
                  <button class="border-0 bg-transparent voteButton" [disabled]="isAuthorAnswer || oneClickAnswer"  (click)="votingonAnswer(answer._id,answer.userId, 'down')"><mat-icon  placement="bottom" ngbTooltip="Downvote" svgIcon="arrowdown"></mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div2">
          <mat-card  class="example-card overflow-auto m-auto  mt-3 mb-5"  *ngFor="let answer of AllAnswers | paginate: { itemsPerPage: 5, currentPage: p, totalItems: AllAnswers.count}">
            <mat-card-header class="container">
                <img mat-card-avatar class="qtitle"src="{{answer.authorpImage}}" alt="" (click)="gotouserprofile(answer.userId)">
                <mat-card-title class="fw-bold qtitle" (click)="gotouserprofile(answer.userId)">{{answer.author}}</mat-card-title>
                <mat-card-subtitle><mat-icon svgIcon="clock"></mat-icon> {{answer.createdAt | date:'h:mm a,MMM d, y'}}</mat-card-subtitle>

            </mat-card-header>
            <mat-card-content style="background-color: #F6F6F6;padding: 2%;" innerHTML="{{answer.body}}">

            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Reply </button>
            </mat-card-actions>
          </mat-card>
          <div class="d-flex justify-content-center mb-5" >
            <pagination-controls [autoHide]="true" [responsive]="true" [previousLabel]="previousLabel" class="rounded-1 p-1 active my-pagination" style="background-color: #2F3B56;color:#B9D7E5;" (pageChange)="paginate($event)"></pagination-controls>
          </div>

    </div>


      </div>
  </div>
  </div>


</ng-template>

