<!--<div class="NgxEditor__Wrapper">
  <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
  <ngx-editor
    [editor]="editor"
    [ngModel]="html"
    [disabled]="false"
    [placeholder]="'Type here...'"
  ></ngx-editor>
</div>
<div class="item">
  <div class="d-flex ms-5">
  <ngx-skeleton-loader  count="1" appearance="circle"></ngx-skeleton-loader>
  <ngx-skeleton-loader class="col-2 ms-2 mt-3" count="1" appearance="line"></ngx-skeleton-loader>
</div>
<div class="d-flex justify-content-center">
  <ngx-skeleton-loader count="4" appearance="line" class="d-grid  col-8"></ngx-skeleton-loader>
</div>
</div>
<hr>

<tag-input [(ngModel)]='items'></tag-input>
-->
<!--<form #Testchip="ngForm" (ngSubmit)="testt(Testchip)" >
<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Favorite Fruits</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
      {{fruit.name}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New fruit..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"
           >
  </mat-chip-list>
</mat-form-field>
</form>
-->

<p>
  <i>Select a focused chip by pressing <code>SPACE</code></i>
</p>

<!--<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Video keywords</mat-label>
  <mat-chip-list #chipList aria-label="Video keywords" multiple [formControl]="formControl">
    <mat-chip
        *ngFor="let keyword of keywords"
        [selected]="keyword"
        [value]="keyword"
        (removed)="removeKeyword(keyword)">
      {{keyword}}
    </mat-chip>
    <input
      placeholder="New keyword..."
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addKeywordFromInput($event)">
  </mat-chip-list>
</mat-form-field>

<p>
  <b>The following keywords are selected:</b> {{formControl.value}}
</p>
-->
<!--Using ng-option and for loop-->
<!--<ng-select [(ngModel)]="selectedCar">
  <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
</ng-select>-->

<!--Using items input-->
<ng-select [items]="cars"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedCar">
</ng-select>


<p>Select multiple elements</p>

<ng-select
    [items]="people$ | async"
    [multiple]="true"
    [closeOnSelect]="false"
    [searchable]="false"
    bindLabel="name"
    placeholder="Select people"
    [(ngModel)]="selectedPeople">
</ng-select>

<div class="mt-3">
    Selected value: <br/>
    <ul>
        <li *ngFor="let item of selectedPeople">{{item}}</li>
    </ul>
    <button (click)="clearModel()" class="btn btn-secondary btn-sm">Clear model</button>
    <button (click)="changeModel()" class="btn btn-secondary btn-sm">Change model</button>
</div>
