form{
    background-color: #DFEFF4;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  .tooltip {
    background-color: #283149;
    font-size: large;
  }
#typeahead-focus{
    overflow-y: auto;
}
.registerform{
  height: 20%;
}
