
<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="../../../assets/Developers.jpg"
                alt="Ask Deveolper Logo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 100%;" />
            </div>

            <form class="col-xl-6" #registerform="ngForm" (ngSubmit)="handleSubmit(registerform)">
              <div class="card-body p-md-5 text-black">
                <div class="d-flex justify-content-center">
                <img src="../../../assets/asklogo.png" alt="logo" class="img-fluid" style="width: 60%;margin-bottom: 5%;">
              </div>
                <h1 class="text-center mb-5"><mat-icon svgIcon="register"></mat-icon> Users registration form</h1>
                <div class="alert alert-danger" role="alert" *ngIf="userError">
                 <mat-icon svgIcon="error2" class="text-danger"></mat-icon> {{ErrorMessage}}
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" class="form-control form-control-lg" #fname="ngModel" name="fname"  placeholder="First name" [(ngModel)]="userData.fname"
                      required minlength="3" maxlength="20"   />
                      <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && fname.invalid">
                        <mat-icon class="text-light" svgIcon="error"></mat-icon>
                        <span *ngIf="fname.errors?.['required']" class="text-light"> First name is required</span>
                        <span *ngIf="fname.errors?.['minlength']" class="text-light"> Min Length of First name is 3</span>
                        <span *ngIf="fname.errors?.['maxlength']" class="text-light"> Max Length of First name is 20</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text"  class="form-control form-control-lg" #lname="ngModel" name="lname" placeholder="Last name" [(ngModel)]="userData.lname"
                      required minlength="3" maxlength="20"/>
                      <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && lname.invalid">
                        <mat-icon class="text-light" svgIcon="error"></mat-icon>
                        <span *ngIf="lname.errors?.['required']" class="text-light"> Last name is required</span>
                        <span *ngIf="lname.errors?.['minlength']" class="text-light"> Min Length of Last name is 3</span>
                        <span *ngIf="lname.errors?.['maxlength']" class="text-light"> Max Length of Last name is 20</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <div class="form-outline">
                      <label for="DOB" class="text-black">Date of Birth : </label>
                      <input type="date" class="form-control form-control-lg" id="datepicker" name="userdate" #userdate="ngModel"  placeholder="Date of Birth" [(ngModel)]="userData.DOB" required min="1960-01-01" max="2010-12-31">
                      <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && userdate.invalid">
                        <mat-icon class="text-light" svgIcon="error"></mat-icon>
                        <span *ngIf="userdate.errors?.['required']" class="text-light"> Date of Birth is required</span>
                        <span *ngIf="userdate.errors?.['min']" class="text-light"> User Date of Birth starts from 1960/01/01 </span>
                        <span *ngIf="userdate.errors?.['max']" class="text-light"> User Date of Birth ends from 2010/12/31</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" name="username" class="form-control form-control-lg" #username="ngModel" placeholder="Username" [(ngModel)]="userData.username"
                   required   minlength="3" maxlength="20" mat-raised-button
                   matTooltip="Username is unique"
                   [matTooltipPosition]="postionToolTip"
                   matTooltipClass="tooltip"
                   aria-label="Button that displays a tooltip when focused or hovered over"/>
                    <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && username.invalid">
                      <mat-icon class="text-light" svgIcon="error"></mat-icon>
                      <span *ngIf="username.errors?.['required']" class="text-light"> Username is required</span>
                      <span *ngIf="username.errors?.['minlength']" class="text-light"> Min length of Username is 3</span>
                    </div>
                </div>

                <div class="form-outline mb-4">

                  <input type="email" name="email"  class="form-control form-control-lg" #email="ngModel" placeholder="Email" [(ngModel)]="userData.email"
                  required  mat-raised-button matTooltip="Email is unique" [matTooltipPosition]="postionToolTip" matTooltipClass="tooltip"/>
                  <div class="bg-danger rounded-1 p-2" *ngIf=" registerform.submitted && email.invalid">
                    <mat-icon class="text-light" svgIcon="error"></mat-icon>
                    <span *ngIf="email.errors?.['required']" class="text-light"> Email is required</span>
                  </div>
                </div>

                <!--<div class="form-outline mb-4">
                  <input type="password" name="password" class="form-control form-control-lg" #password="ngModel" placeholder="Password" [(ngModel)]="userData.password" pattern="/^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]/"
                  required  minlength="6" maxlength="20" mat-raised-button matTooltip="Your Password doesn't the include 'password' word and Password must contain at least one number , Capital letter and one special character" [matTooltipPosition]="postionToolTip" matTooltipClass="tooltip"/>
                  <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && password.invalid">
                    <mat-icon class="text-light" svgIcon="error"></mat-icon>
                    <span *ngIf="password.errors?.['required']" class="text-light"> password is required</span>
                    <span *ngIf="password.errors?.['pattern']" class="text-light"> Password must contain at least one number , Capital letter and one special character</span>
                    <span *ngIf="password.errors?.['minlength']" class="text-light"> Min length of password is 6</span>
                    <span *ngIf="password.errors?.['maxlength']" class="text-light"> Max length of password is 20</span>
                  </div>
                </div>-->
                <div class="form-outline mb-4">
                  <div class="form-control">
                   <div class="row ">
                      <div class="col-10">
                       <input type="{{passwordstatus}}" class="border-0 w-100 p-1 fs-4"
                       name="password"  #password="ngModel" placeholder="Password" [(ngModel)]="userData.password" pattern="/^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]/" required  minlength="6" maxlength="20" mat-raised-button matTooltip="Your Password doesn't the include 'password' word and Password must contain at least one number , Capital letter and one special character" [matTooltipPosition]="postionToolTip" matTooltipClass="tooltip"/>
                      </div>
                      <div class="col-2 mt-1">
                        <button type="button" class="bg-transparent border-0" (click)="showpassword()"><mat-icon  svgIcon="{{status}}"></mat-icon></button>
                      </div>
                  </div>
                </div>
                <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && password.invalid">
                  <mat-icon class="text-light" svgIcon="error"></mat-icon>
                  <span *ngIf="password.errors?.['required']" class="text-light"> password is required</span>
                  <span *ngIf="password.errors?.['pattern']" class="text-light"> Password must contain at least one number , Capital letter and one special character</span>
                  <span *ngIf="password.errors?.['minlength']" class="text-light"> Min length of password is 6</span>
                  <span *ngIf="password.errors?.['maxlength']" class="text-light"> Max length of password is 20</span>
                </div>
              </div>
                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                  <h2 class="mb-0 me-4">Gender: </h2>
                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="gender" #gender="ngModel" id="femaleGender" value="female" [(ngModel)]="userData.gender"  />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="gender" #gender="ngModel" id="maleGender"value="male" [(ngModel)]="userData.gender" required  />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input class="form-check-input" type="radio" name="gender" #gender="ngModel" id="otherGender" value="other" [(ngModel)]="userData.gender"  />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>

                    <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && gender.invalid">
                      <mat-icon class="text-light" svgIcon="error"></mat-icon>
                      <span *ngIf="gender.errors?.['required']" class="text-light"> Gender is required</span>
                    </div>

                </div>
                <div class="form-outline mb-4">
                  <input type="text" name="phoneno" id="form3Example9" #phone="ngModel" class="form-control form-control-lg" placeholder="Phone number" [(ngModel)]="userData.phoneno" required />
                  <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && phone.invalid">
                    <mat-icon class="text-light" svgIcon="error"></mat-icon>
                    <span *ngIf="phone.errors?.['required']" class="text-light"> Phone number is required</span>
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <div class="dropdown">
                    <select class="form-select form-control form-control-lg fs-5"  id="jobtitle" name="jobtitle" #jobtitle="ngModel" [(ngModel)]="userData.jobtitle"
                    required  minlength="2" maxlength="50" >
                      <option value="" disabled>Choose your job title from this list:</option>
                      <option *ngFor="let job of jobs" [value]="job" >{{job.charAt(0).toUpperCase() + job.slice(1)}}</option>
                    </select>
                  </div>
                  <div class="bg-danger rounded-1 p-2 " *ngIf=" registerform.submitted && jobtitle.invalid">
                    <mat-icon class="text-light" svgIcon="error"></mat-icon>
                    <span *ngIf="jobtitle.errors?.['required']" class="text-light"> job title is required</span>
                    <span *ngIf="jobtitle.errors?.['minlength']" class="text-light"> Min length of job title is 2</span>
                    <span *ngIf="jobtitle.errors?.['maxlength']" class="text-light"> Max length of job title is 50</span>
                  </div>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button type="button" (click)="resetall(registerform)" class="btn btn-light btn-lg" ><mat-icon svgIcon="reset"></mat-icon> Reset all</button>
                  <button type="submit" class="btn btn-warning btn-lg ms-2"><mat-icon svgIcon="submit"></mat-icon> Submit form</button>
                </div>
                  <h3 class="text-center mt-4">Already have an account? <a routerLink="/login" class="btn btn-primary"><mat-icon svgIcon="login"></mat-icon> Login</a></h3>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
