
<div class="item d-flex" *ngIf="!isLoaded ; else usersData" >
  <div class="row">
  <div *ngFor="let item of loadingAnimation" class=" justify-content-center">
  <mat-card  class="m-auto mb-5 col-3">
  <div class="d-flex ms-5" >
  <ngx-skeleton-loader  count="1" appearance="circle"></ngx-skeleton-loader>
  <ngx-skeleton-loader class="col-3 ms-2 mt-3" count="1" appearance="line"></ngx-skeleton-loader>
</div>
<div class="d-flex justify-content-center">
  <ngx-skeleton-loader count="4" appearance="line" class="d-grid  col-8"></ngx-skeleton-loader>
</div>
</mat-card>
</div>
</div>
</div>

<ng-template #usersData>
  <div class="row m-2 d-flex ">
<mat-card  class="example-card overflow-auto m-auto mb-5 mt-3 me-1 animate__animated animate__shakeX col-3 "  *ngFor="let user of AllUsers | paginate: { itemsPerPage: 12, currentPage: p, totalItems: AllUsers.count}">
  <mat-card-header class="container ">
      <img mat-card-avatar src="{{user.pImage}}" alt="">
      <mat-card-title class="fw-bold qtitle" [routerLink]="['singlequestion', user._id]">{{user.username}}</mat-card-title>
      <mat-card-subtitle><mat-icon svgIcon="job"></mat-icon> {{user.jobtitle}} </mat-card-subtitle>
      <mat-card-subtitle><mat-icon svgIcon="location"></mat-icon> {{user.country}} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button [routerLink]="['singlequestion', user._id]">Show profile </button>
  </mat-card-actions>
</mat-card>
</div>
<div class="d-flex justify-content-center mb-5" >
  <pagination-controls [autoHide]="true" [responsive]="true" [previousLabel]="previousLabel" class="rounded-1 p-1 active my-pagination" style="background-color: #2F3B56;color:#B9D7E5;" (pageChange)="paginate($event)" (click)="gotoTop()"></pagination-controls>
</div>
</ng-template>

