<!--<div class="container-xl px-4 mt-4" >
  <div class="row">
      <div class="col-xl-3">

          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">

                  <ngx-skeleton-loader  count="1" [theme]="{width: '150px', height: '150px'}"
                   appearance="circle"></ngx-skeleton-loader>
                   <div class="d-flex justify-content-center">
                    <ngx-skeleton-loader [theme]="{width: '100px',display: 'block'}" count="1"  appearance="line"></ngx-skeleton-loader>

                   </div>
                   <ngx-skeleton-loader [theme]="{width: '200px'}" count="2"  appearance="line"></ngx-skeleton-loader>
              </div>
          </div>
      </div>
      <div class="col-xl-9">

          <div class="card mb-4">
              <div class="card-header fw-3">Account Details</div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item fs-5">
                    <ngx-skeleton-loader [theme]="{width: '100px'}" count="1" class="me-4"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '300px'}" count="1"  appearance="line"></ngx-skeleton-loader>
                  </li>
                  <li class="list-group-item fs-5">
                    <ngx-skeleton-loader [theme]="{width: '100px'}" count="1" class="me-4"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '300px'}" count="1"  appearance="line"></ngx-skeleton-loader>
                  </li>
                  <li class="list-group-item fs-5"> <ngx-skeleton-loader [theme]="{width: '100px'}" count="1" class="me-4"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '300px'}" count="1"  appearance="line"></ngx-skeleton-loader></li>
                  <li class="list-group-item fs-5"> <ngx-skeleton-loader [theme]="{width: '100px'}" count="1" class="me-4"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '300px'}" count="1"  appearance="line"></ngx-skeleton-loader></li>
                  <li class="list-group-item fs-5"> <ngx-skeleton-loader [theme]="{width: '100px'}" count="1" class="me-4"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '300px'}" count="1"  appearance="line"></ngx-skeleton-loader></li>
                  <li class="list-group-item fs-5"> <ngx-skeleton-loader [theme]="{width: '100px'}" count="1" class="me-4"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '300px'}" count="1"  appearance="line"></ngx-skeleton-loader></li>
                  <li class="list-group-item fs-5"> <ngx-skeleton-loader [theme]="{width: '100px'}" count="1" class="me-4"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '300px'}" count="1"  appearance="line"></ngx-skeleton-loader></li>

                </ul>

              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-xl px-4 mt-4">
  <div class="row">
      <div class="col-xl-3">

          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">

                  <ngx-skeleton-loader  count="1" [theme]="{width: '150px', height: '150px'}"
                   appearance="circle"></ngx-skeleton-loader>
                   <div class="d-flex justify-content-center">
                    <ngx-skeleton-loader [theme]="{width: '100px',display: 'block'}" count="1"  appearance="line"></ngx-skeleton-loader>

                   </div>
                   <ngx-skeleton-loader [theme]="{width: '200px'}" count="2"  appearance="line"></ngx-skeleton-loader>
              </div>
          </div>
      </div>
      <div class="col-xl-9">

          <div class="card mb-4">
              <div class="card-header fw-3">Account Details</div>
              <div class="card-body p-5">
                <ngx-skeleton-loader [theme]="{width: '40%'}" count="1" class=" m-5"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '40%'}" count="1"  appearance="line"></ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{width: '40%'}" count="1" class="m-5 "  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '40%'}" count="1"  appearance="line"></ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{width: '100%'}" count="1"   appearance="line"></ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{width: '40%'}" count="1" class="m-5"  appearance="line"></ngx-skeleton-loader>   <ngx-skeleton-loader [theme]="{width: '40%'}" count="1"  appearance="line"></ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{width: '40%'}" count="1" class="m-5"  appearance="line"></ngx-skeleton-loader> <ngx-skeleton-loader [theme]="{width: '40%'}" count="1"  appearance="line"></ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{width: '100%'}" count="1"   appearance="line"></ngx-skeleton-loader>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container-xl px-4 mt-4 " >
  <div class="card mb-4 mb-xl-0">
    <div class="card-header">Statistics</div>
    <div class="card-body text-center">
        <div >
          <h3 class="text-center"><mat-icon svgIcon="statistics"></mat-icon> Statistics</h3>
          <div style="background-color: #F6F6F6;padding: 2%;">
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex  align-items-start">
                <div class=" me-auto">
                  <div class="fw-bold">
                    <ngx-skeleton-loader [theme]="{width: '40px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader>
                  </div>
                  <ngx-skeleton-loader [theme]="{width: '80px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader>
                </div>
                <span class="badge rounded-pill"><ngx-skeleton-loader [theme]="{width: '30px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader></span>
              </li>
              <li class="list-group-item d-flex  align-items-start">
                <div class=" me-auto">
                  <div class="fw-bold">
                    <ngx-skeleton-loader [theme]="{width: '40px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader>
                  </div>
                  <ngx-skeleton-loader [theme]="{width: '80px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader>
                </div>
                <span class="badge rounded-pill"><ngx-skeleton-loader [theme]="{width: '30px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader></span>
              </li>
              <li class="list-group-item d-flex  align-items-start">
                <div class=" me-auto">
                  <div class="fw-bold">
                    <ngx-skeleton-loader [theme]="{width: '40px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader>
                  </div>
                  <ngx-skeleton-loader [theme]="{width: '80px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader>
                </div>
                <span class="badge rounded-pill"><ngx-skeleton-loader [theme]="{width: '30px',display: 'block',marginLeft:'20%'}" count="1" appearance="line"></ngx-skeleton-loader></span>
              </li>
            </ol>
          </div>
        </div>
    </div>
</div>
</div>
<p>
  You can group by item key providing key name as a string to <b>groupBy</b> input
</p>

<ng-select [items]="ITjobs" *ngFor="let job of ITjobs"
         placeholder="enter"
         bindLabel="keywords"
         bindValue="keywords"
         groupBy="category"
         [(ngModel)]="selectedAccount"
         class="d-block">
  <ng-template ng-optgroup-tmp let-item="item" class="d-block">
      {{item.category || 'Unnamed group'}}
  </ng-template>
</ng-select>
<br>
<small>Selected: {{selectedAccount | json}}</small>

<select  class="form-select " aria-label="Default select example" >

  <optgroup *ngFor="let job of ITjobs" label="{{job.category}}">
    <option *ngFor="let job of ITjobs" class="d-block" [value]="job.keywords" >{{job.keywords[0]}}</option>
  </optgroup>

</select>


<div *ngFor="let job of ITjobs">
  <p class="d-block">{{job.category}}</p>
  <p class="d-block">{{job.keywords}}</p>
</div>

<strong class="text-danger">First name is required *</strong>




<label for="exampleDataList" class="form-label">Datalist example</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
<datalist id="datalistOptions" class="w-100" >
  <option *ngFor="let job of jobs" value="{{job}}">
</datalist>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           class="form-control">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of jobs " [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
-->
<!--<mat-card  class="example-card overflow-auto mt-5" >
  <h1><mat-icon svgIcon="bks" class="text-warning"></mat-icon> Bookmark List :</h1>
  <div class="d-flex justify-content-between">
    <div class="mt-3">
      <h2 class="overflow-auto ms-4 w-75">Lorem ipsum dolor sit amet potenti porttitor faucibus per tincidunt feugiat gravida cubilia magnis viverra lorem non eget felis lobortis turpis semper ultrices condimentum elit dictum nam fermentum convallis amet dis aliquam fusce in erat quam porta molestie dictumst urna finibus efficitur leo mus</h2>
    <div class="ms-5">
        <mat-icon svgIcon="answer" class="text-success" placement="top" ngbTooltip="Answers"></mat-icon>   <span class="me-2 ms-1 text-success">0</span>
        <mat-icon svgIcon="vote" class="text-primary" placement="top" ngbTooltip="Votes"></mat-icon>   <span class="me-2 ms-1 text-primary">0</span>
        <mat-icon svgIcon="view" class="text-info" placement="top" ngbTooltip="Views"></mat-icon>  <span class="me-2 ms-1 text-info">0</span>
    </div>
  </div>

  </div>
    <div class="m-3">
      <div class="d-flex">
        <div class="badge" style="background-color:#283149;color: #C5E0EA; font-size: 100%;">  <mat-icon svgIcon="tags"></mat-icon> Tags :</div>
        <ul class="list-unstyled list-group list-group-horizontal" >
          <li *ngFor="let tag of tags" class="list-group-item border-0" class="badge rounded-pill mt-1 ms-2" style="color:#283149;background-color: #C5E0EA;font-size: 100%;" >{{tag}}</li>
        </ul>
      </div>
  </div>
  <mat-card-actions align="start">
    <button mat-button>Show Question</button>
    <button mat-button class="btn btn-danger"><mat-icon svgIcon="unbk"  class="mb-3"></mat-icon> UnBookmark this Question</button>
  </mat-card-actions>
</mat-card>
<mat-card  class="example-card overflow-auto mt-5" *ngFor="let load of loadingAnimation">
  <div class="d-flex justify-content-between">
    <div class="mt-3">
    <ngx-skeleton-loader [theme]="{width: '30vw'}" count="1" class=" m-5"  appearance="line"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{width: '40vw'}" count="1" class="m-5 "  appearance="line"></ngx-skeleton-loader>
    <div class="ms-5">
      <ngx-skeleton-loader [theme]="{width: '5%',marginRight:'1vw'}" count="1"   appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{width: '5%',marginRight:'1vw'}" count="1"   appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{width: '5%',marginRight:'1vw'}" count="1"   appearance="line"></ngx-skeleton-loader>
    </div>
  </div>

  </div>
    <div class="ms-5">
      <ngx-skeleton-loader [theme]="{width: '5%',margin:'1vw'}" count="3"   appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{width: '5%',margin:'1vw'}" count="1"   appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{width: '5%',margin:'1vw'}" count="1"   appearance="line"></ngx-skeleton-loader>
  </div>
  <ngx-skeleton-loader [theme]="{width: '10%','height':'2vw',marginLeft:'3vw'}" count="1"   appearance="line"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{width: '10%','height':'2vw',marginLeft:'3vw'}" count="1"   appearance="line"></ngx-skeleton-loader>
</mat-card>


<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="top" class="mt-2" *ngFor="let tag of AllTags  | paginate: { itemsPerPage: 10, currentPage: p, totalItems: tagSize}">
      <a ngbNavLink>{{tag}}</a>
      <ng-template ngbNavContent>
        <div></div>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
<div class="d-flex justify-content-start mb-5 mt-3 col-1" >
  <pagination-controls [autoHide]="true" [responsive]="true"   [previousLabel]="previousLabel" class="rounded-1 p-1 active my-pagination" style="background-color: #2F3B56;color:#B9D7E5;" (pageChange)="paginate($event)" (click)="gotoTop()"></pagination-controls>
</div>
-->

<div class="container">
  <br>
  <div class="row">
      <div class="col-lg-5 col-md-7 mx-auto my-auto">
          <div class="card">
              <div class="card-body px-lg-5 py-lg-5 text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                  <h2 class="text-info">2FA Security</h2>
                  <p class="mb-4">Enter 6-digits code from your athenticatior app.</p>
                  <form #verification>
                      <div class="row mb-4">
                          <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                             <input type="text" class="form-control text-lg text-center" [(ngModel)]="verifycode.fnum" name="fnum" placeholder="_"   aria-label="2fa"
                            maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" >

                            </div>
                          <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                              <input type="text" class="form-control text-lg text-center" [(ngModel)]="verifycode.snum" name="snum" placeholder="_" maxlength="1" aria-label="2fa"
                              maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                          </div>
                          <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                              <input type="text" class="form-control text-lg text-center" [(ngModel)]="verifycode.tnum" name="tnum" placeholder="_" maxlength="1" aria-label="2fa"
                              maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                          </div>
                          <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                              <input type="text" class="form-control text-lg text-center" [(ngModel)]="verifycode.frnum" name="frnum" placeholder="_" maxlength="1" aria-label="2fa"
                              maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                          </div>
                          <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                              <input type="text" class="form-control text-lg text-center" [(ngModel)]="verifycode.finum" name="finum" placeholder="_" maxlength="1" aria-label="2fa"
                              maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                          </div>
                          <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                              <input type="text" class="form-control text-lg text-center" [(ngModel)]="verifycode.sinum" name="sinum" placeholder="_" maxlength="1" aria-label="2fa"
                              maxlength="1"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                          </div>
                      </div>
                      <p>{{verifycode.fnum}}{{verifycode.snum}}{{verifycode.tnum}}{{verifycode.frnum}}{{verifycode.finum}}{{verifycode.sinum}}</p>
                      <div class="text-center">
                          <button type="button" class="btn bg-info btn-lg my-4">Continue</button>
                      </div>

                  </form>

              </div>
          </div>
      </div>
  </div>
</div>
