<div class="alert alert-warning mt-2 w-100 alertDiv">
  <div class="btn btn-outline-warning text-dark"><mat-icon svgIcon="warning" class="text-warning"></mat-icon> <strong class="fs-5"> About Voting </strong></div>
  <ul >
    <li> <strong>Author:</strong> You can't vote on your own question</li>
    <li> <strong>Voter:</strong> You can vote on any question you have not voted on</li>
    <li> <strong>Voter:</strong> You can vote only once on any question</li>
  </ul>
</div>
<div class="container overflow-hidden text-center">
  <div class="row ">
    <div class="col-3">
     <div class="  overflow-auto">

        <div class="container text-center" >
          <div class="row d-grid g-2 g-lg-3 ">
            <div class="col">
              <div class="p-3 col-2" ><button  class="border-0 bg-transparent voteButton"> <mat-icon placement="top" ngbTooltip="Upvote" svgIcon="arrowup2"></mat-icon> </button></div>
            </div>
            <div class="col">
              <div class="p-1 ms-3 col-2 border bg-light">
                <p>0</p>
              </div>
            </div>
            <div class="col">
              <div class="p-3 col-2">
                <button class="border-0 bg-transparent voteButton" ><mat-icon  placement="bottom" ngbTooltip="Downvote" svgIcon="arrowdown"></mat-icon></button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 col-2">
          <button class="border-0 bg-transparent " >
            <mat-icon svgIcon="bookmark" class="bookmark bookmarked"   placement="end " ngbTooltip="Bookmark this Question ? , to remove bookmark go to Bookmark page"></mat-icon>
            </button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-9">
      <div class="p-3 border bg-light overflow-auto">
        <mat-card  class="example-card overflow-auto m-auto  mt-3 mb-5 " >
          <mat-card-header class="container">
              <img mat-card-avatar class="qtitle"src="../../assets/profilepicture/ali99-icons8-man-avatar-64-profilepicture-1657806690425.png" alt="" >
              <mat-card-title class="fw-bold qtitle" >aliahmed_1999</mat-card-title>
              <mat-card-subtitle><mat-icon svgIcon="clock"></mat-icon> h:mm a,MMM d, y</mat-card-subtitle>
              <mat-card-title>
                <div class="">
                  <mat-icon svgIcon="answers" class="text-success" placement="top" ngbTooltip="Answers"></mat-icon>   <span class="me-2 ms-1 text-success">0</span>
                  <mat-icon svgIcon="votes" class="text-primary" placement="top" ngbTooltip="Votes"></mat-icon>   <span class="me-2 ms-1 text-primary">0</span>
                  <mat-icon svgIcon="views" class="text-info" placement="top" ngbTooltip="Views"></mat-icon>  <span class="me-2 ms-1 text-info">0</span>
                </div>
              </mat-card-title>
          </mat-card-header>
          <mat-card-content style="background-color: #F6F6F6;padding: 2%;" innerHTML="">
            Lorem ipsum dolor sit amet posuere nostra gravida lobortis metus viverra. Ligula penatibus ultrices suscipit a felis vivamus blandit neque potenti congue. Facilisis urna hac morbi sagittis luctus vel tellus. Habitasse duis nibh sit phasellus nisl aliquet facilisi fringilla blandit mus. Est neque platea in vel commodo. Amet est nascetur metus id curabitur ipsum. Dictum maximus non natoque ante lectus purus aliquam amet.
          </mat-card-content>
          <div class="d-flex">
            <div class="badge" style="background-color:#283149;color: #C5E0EA; font-size: 100%;">  <mat-icon svgIcon="tags"></mat-icon> Tags :</div>
            <ul class="list-unstyled list-group list-group-horizontal" >
              <li *ngFor="let tag of tags" class="list-group-item border-0" class="badge rounded-pill mt-1 ms-2" style="color:#283149;background-color: #C5E0EA;font-size: 100%;" >{{tag}}</li>
            </ul>
          </div>
          <mat-card-actions class="d-flex justify-content-between">
            <ul class="list-unstyled list-group list-group-horizontal p-2 mt-2" >
              <li mat-button class="list-group-item border-0" >
                <button  class="btn btn-warning  fw-bold p-2"  routerLink=""><mat-icon svgIcon="addquestion"></mat-icon> Edit </button>
              </li>
              <li mat-button class="list-group-item text-danger border-0" >
                <button  class="btn text-danger fw-bold border-0" ><mat-icon svgIcon="delete"></mat-icon> Delete</button>
              </li>
            </ul>
            <div>
              <share-buttons [theme]="'circles-dark'"
              [include]="['facebook','twitter','linkedin','telegram','whatsapp','email','copy']"
              [show]="3"
              [showText]="true"
              url=""
              title=""
              description=""
              image="https://drive.google.com/file/d/1fZL5hmfipeZJre6pJquQUngVp8VWmsjY/view?usp=sharing"
              tags=""
              [autoSetMeta]="false"

             ></share-buttons>
            </div>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<hr>
<div *ngFor="let item of answerarray">

<div class="container px-4  mt-5">
  <div class="row gx-3">
    <div class="col-2 mt-5">
     <div class="p-3 ">
      <mat-icon svgIcon="up"></mat-icon>
      <div class="me-5">
      <h3 class="bg-light w-25 mt-4 mb-4 text-center ">0</h3>
    </div>
      <mat-icon svgIcon="down"></mat-icon>
     </div>
     <mat-icon svgIcon="best" class="ms-3"></mat-icon>
    </div>

    <div class="col-10">
      <div class="p-3   h-100">
        <mat-card  class="example-card overflow-auto m-auto  mt-3 mb-5 " >
          <mat-card-header class="container">
              <img mat-card-avatar class="qtitle"src="../../assets/profilepicture/ali99-icons8-man-avatar-64-profilepicture-1657806690425.png" alt="" >
              <mat-card-title class="fw-bold qtitle" >aliahmed_1999</mat-card-title>
              <mat-card-subtitle><mat-icon svgIcon="clock"></mat-icon> h:mm a,MMM d, y</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content style="background-color: #F6F6F6;padding: 2%;" innerHTML="">
            Lorem ipsum dolor sit amet posuere nostra gravida lobortis metus viverra. Ligula penatibus ultrices suscipit a felis vivamus blandit neque potenti congue. Facilisis urna hac morbi sagittis luctus vel tellus. Habitasse duis nibh sit phasellus nisl aliquet facilisi fringilla blandit mus. Est neque platea in vel commodo. Amet est nascetur metus id curabitur ipsum. Dictum maximus non natoque ante lectus purus aliquam amet.
          </mat-card-content>
          <mat-card-actions class="d-flex justify-content-start">
            <button mat-button class=""><mat-icon svgIcon="best" class="mb-3"></mat-icon> Set it best asnwer  </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>
<hr>
</div>

<!--<div class="d-flex ">
  <div class="bg-primary ">
    <div class="p-3  overflow-auto">

      <div class="container text-center" >
        <div class="row d-grid g-2 g-lg-3 ">
          <div class="col">
            <div class="p-3 col-2" ><button  class="border-0 bg-transparent voteButton"> <mat-icon placement="top" ngbTooltip="Upvote" svgIcon="arrowup2"></mat-icon> </button></div>
          </div>
          <div class="col">
            <div class="p-1 ms-3 col-2 border bg-light">
              <p>0</p>
            </div>
          </div>
          <div class="col">
            <div class="p-3 col-2">
              <button class="border-0 bg-transparent voteButton" ><mat-icon  placement="bottom" ngbTooltip="Downvote" svgIcon="arrowdown"></mat-icon></button>
            </div>
          </div>
        </div>
      </div>
      <div class="" >
        <button class="border-0 bg-transparent me-5" >
          <mat-icon svgIcon="bookmark" class="bookmark bookmarked"   placement="end " ngbTooltip="Bookmark this Question ? , to remove bookmark go to Bookmark page"></mat-icon>
          </button>

        <!--class="bookmarked" *ngClass="{bookmarked: true}"
      </div>
  </div>
  <div class="bg-danger ">
    <mat-card  class="example-card overflow-auto m-auto  mt-3 mb-5 " >
      <mat-card-header class="container">
          <img mat-card-avatar class="qtitle"src="../../assets/profilepicture/ali99-icons8-man-avatar-64-profilepicture-1657806690425.png" alt="" >
          <mat-card-title class="fw-bold qtitle" >aliahmed_1999</mat-card-title>
          <mat-card-subtitle><mat-icon svgIcon="clock"></mat-icon> h:mm a,MMM d, y</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content style="background-color: #F6F6F6;padding: 2%;" innerHTML="">
        Lorem ipsum dolor sit amet posuere nostra gravida lobortis metus viverra. Ligula penatibus ultrices suscipit a felis vivamus blandit neque potenti congue. Facilisis urna hac morbi sagittis luctus vel tellus. Habitasse duis nibh sit phasellus nisl aliquet facilisi fringilla blandit mus. Est neque platea in vel commodo. Amet est nascetur metus id curabitur ipsum. Dictum maximus non natoque ante lectus purus aliquam amet.
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-start">
        <button mat-button class=""><mat-icon svgIcon="best" class="mb-3"></mat-icon> Set it best asnwer  </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
-->
