<div class="d-flex justify-content-center border-2 ">
  <img src="../../assets/asklogoimagesad3.png" class="mt-5" width="300" height="250" role="img">
<div class="text-center mt-5 text-light p-5 fw-bold card  bg-danger">
  <h1 class="fw-bold">Oops!</h1>
  <h2 class="fw-bold"><mat-icon svgIcon="error"></mat-icon> 404 Not Found</h2>
  <p class="fw-bold">Sorry, an error has occured, Requested page not found!</p>
  <button routerLink="/home" class="btn p-3 text-light" style="background-color: #2D3952;"><mat-icon svgIcon="home"></mat-icon> Take Me Home</button>
</div>
</div>
