<nav class="p-3 navbar-light navbar-expand-lg" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img  src="../../../assets/asklogo.png" class="bi me-2" width="200" height="80" role="img">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item "><a routerLink="home" class="nav-link  fs-5" routerLinkActive="text-light rounded-2 bg-primary" [routerLinkActiveOptions]="{'exact' : true}"><mat-icon svgIcon="home"></mat-icon> Home</a></li>
        <li class="nav-item "><a routerLink="tags" class="nav-link  px-2  fs-5" routerLinkActive="text-light rounded-2 bg-primary" ><mat-icon svgIcon="tags"></mat-icon> Tags</a></li>
        <li class="nav-item "><a routerLink="users" class="nav-link  px-2  fs-5" routerLinkActive="text-light rounded-2 bg-primary"><mat-icon svgIcon="users"></mat-icon> Users</a></li>
        <li class="nav-item "><a routerLink="search" class="nav-link  px-2  fs-5" routerLinkActive="text-light rounded-2 bg-primary"><mat-icon svgIcon="search"></mat-icon> Search</a></li>
      </ul>


      <div class="item " *ngIf="!isLoaded ; else userData" >
        <div *ngIf="_global.token" class="d-flex">
        <ngx-skeleton-loader  count="1" appearance="line"></ngx-skeleton-loader>
        <ngx-skeleton-loader  count="1" appearance="circle"></ngx-skeleton-loader>
      </div>
      </div>

      <ng-template #userData >
      <ul class="col-lg-auto mb-3 mb-lg-0 me-lg-3 list-unstyled" *ngIf="this._global.isLoggedIn && !myfname">
        <li class="text-primary fs-5">Welcome {{this._global.userInfo.data?.fname || "username" }} </li>
      </ul>
      <div class="dropdown text-end" *ngIf="this._global.isLoggedIn">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{this._global.userInfo.data?.pImage}}" alt="profile_picture" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item " routerLink="myquestions"><mat-icon svgIcon="myquestions"></mat-icon> My Questions</a></li>
          <li><a class="dropdown-item " routerLink="myprofile"><mat-icon svgIcon="profile"></mat-icon> Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item"><mat-icon svgIcon="logout"></mat-icon> <button class="bg-transparent border-0" (click)="logout()"> Log out</button></li>
        </ul>
      </div>
    </ng-template>
      <ul class="col-lg-auto mb-3 mb-lg-0 " *ngIf="!this._global.isLoggedIn">
        <li class="btn " routerLink="/login"><mat-icon svgIcon="login"></mat-icon> Login</li>
      </ul>
      <ul class="col-lg-auto mb-3 mb-lg-0 " *ngIf="!this._global.isLoggedIn">
        <li class="btn btn-warning " routerLink="/register"><mat-icon svgIcon="register" ></mat-icon> Register</li>
      </ul>

    </div>
  </div>
</nav>
