<div class="container  bg-white mt-5 mb-5 card">
  <div class="row">
      <div class="col-md-4 border-right mt-5">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5  mt-5">
          <form class="form-horizontal" role="form" #upload="ngForm">

        <div class="profilepic m-auto">
          <div class="d-flex justify-content-center ">
          <img class="profilepic__image" src="{{this._global.userInfo.data?.pImage}}" width="200" height="200" alt="{{this.profileAlt}}" />
        </div>

          <div class="profilepic__content">
            <span class="profilepic__text" (click)="uploadpimage()">
              <strong> <mat-icon svgIcon="uploadpic"></mat-icon>  Upload Profile Picture </strong></span>
            </div>
        </div>
        <strong>Chanege Profile picture</strong>
        <div class="d-flex justify-content-center">
        <input *ngIf="uploadStatus" type="file"  class="form-control w-75" (change)="handlefile($event)">
        <button *ngIf="isUploaded" class="btn border-primary border-3 text-primary w-75 mt-2 " type="submit" (click)="handleUpload(upload)" [disabled]="!upload.valid"><mat-icon svgIcon="save"></mat-icon> Save profile picture</button>
        </div>
        </form>
        </div>

        </div>

      <div class="col-md-8 border-right">

          <div class="py-5">
            <div class="col-xl-10" >

              <div class="card-body p-md-5 text-black">
                <div class="alert alert-success" role="alert" *ngIf="userSucess">
                  <mat-icon svgIcon="success" class="text-success"></mat-icon> {{SuccessMessage}}
                 </div>
                <div class="alert alert-danger" role="alert" *ngIf="userError">
                  <mat-icon svgIcon="error2" class="text-danger"></mat-icon> {{ErrorMessage}}
                 </div>
                <h1 class="text-center mb-5 card-header"><mat-icon svgIcon="profile"></mat-icon> {{this._global.userInfo.data?.fname}}'s Profile</h1>
                <div class="row">
                  <div class="col-md-4 mb-4">
                    <div class="form-outline">
                      <input type="text" class="form-control form-control-lg text-primary" value="{{this._global.userInfo.data?.fname}}"  placeholder="First name" readonly />
                    </div>
                  </div>
                  <div class="col-md-4 mb-4">
                    <div class="form-outline">
                      <input type="text"  class="form-control form-control-lg text-primary" value="{{this._global.userInfo.data?.lname}}"  placeholder="Last name" readonly/>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4">
                    <div class="form-outline">
                      <input type="text" name="DOB" class="form-control form-control-lg text-primary" value="{{this._global.userInfo.data?.DOB.slice(0, 10)}}" placeholder="DOB" readonly/>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" name="username" class="form-control form-control-lg text-primary" placeholder="Username" value="{{this._global.userInfo.data?.username}}" readonly />
                </div>
                <div class="form-outline mb-4">
                  <input type="email" name="email"  class="form-control form-control-lg text-primary"  placeholder="Email" value="{{this._global.userInfo.data?.email}}" readonly />
                </div>
                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                  <h2 class="mb-0 me-4">Gender: </h2>
                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="gender" checked/>
                    <label class="form-check-label text-primary" for="femaleGender">{{_global.userInfo.data?.gender}}</label>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" name="phoneno" id="form3Example9" class="form-control form-control-lg text-primary" value="{{this._global.userInfo.data?.phoneno}}" placeholder="Phone number" readonly />
                </div>
                <div class="form-outline mb-2">
                  <input type="text" name="jobtitle" class="form-control form-control-lg text-primary" value="{{this._global.userInfo.data?.jobtitle}}" placeholder="Job Title" readonly />
                </div>

              </div>
              <div class="d-flex justify-content-center">
                <button class="btn p-3 mb-5 w-25 fs-5" (click)="open(content)" style="background-color: #283149; color:#DFEFF4;"><mat-icon svgIcon="editprofile"></mat-icon> Edit profile</button>
              </div>
            </div>

          </div>
</div>
<ng-template #content let-c="close"  let-d="dismiss">
  <div style="background-color: #283149;color: white;">
  <div class="modal-header" >
    <h2 class="modal-title Modeltext" id="modal-basic-title"> <mat-icon svgIcon="edit"></mat-icon> Edit Profile Form</h2>
    <button type="button" class="btn-close bg-danger" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
     <mat-icon svgIcon="warn"></mat-icon> If you want not to change the your specific field, write same value ex. If your first name is john write john in textfield.
    </div>
    <form #editModelForm="ngForm" (ngSubmit)="handleEditSubmit(editModelForm)" >
      <p class="text-light mb-1"> First Name : <strong>{{this._global.userInfo.data?.fname}}</strong></p>
      <input type="text" class="form-control form-control-lg mb-4"  #fname="ngModel" name="fname" placeholder="First Name" [(ngModel)]="newUserData.fname" required  minlength="3" maxlength="30">
      <div class="bg-danger rounded-1 p-2 " *ngIf=" editModelForm.submitted && fname.invalid">
        <mat-icon class="text-light" svgIcon="error"></mat-icon>
        <span *ngIf="fname.errors?.['required']" class="text-light"> First name is required</span>
        <span *ngIf="fname.errors?.['minlength']" class="text-light"> Min Length of First name is 3</span>
        <span *ngIf="fname.errors?.['maxlength']" class="text-light"> Max Length of First name is 20</span>
      </div>
      <p class="text-light mb-1"> Last Name : <strong>{{this._global.userInfo.data?.lname}}</strong></p>
      <input type="text" class="form-control form-control-lg mb-4" #lname="ngModel" name="lname" placeholder="Last Name" [(ngModel)]="newUserData.lname" required minlength="3" maxlength="30" >
      <div class="bg-danger rounded-1 p-2 " *ngIf=" editModelForm.submitted && fname.invalid">
        <mat-icon class="text-light" svgIcon="error"></mat-icon>
        <span *ngIf="lname.errors?.['required']" class="text-light"> Last name is required</span>
        <span *ngIf="lname.errors?.['minlength']" class="text-light"> Last Length of First name is 3</span>
        <span *ngIf="lname.errors?.['maxlength']" class="text-light"> Last Length of First name is 20</span>
      </div>
      <p class="text-light mb-1"> Date of Birth : <strong>{{this._global.userInfo.data?.DOB.slice(0, 10)}}</strong></p>
      <input type="date" class="form-control form-control-lg mb-4" #userdate="ngModel" name="userdate" placeholder="Date of Birth" [(ngModel)]="newUserData.DOB" required min="1960-01-01" max="2010-12-31" >
      <div class="bg-danger rounded-1 p-2 " *ngIf="editModelForm.submitted && userdate.invalid">
        <mat-icon class="text-light" svgIcon="error"></mat-icon>
        <span *ngIf="userdate.errors?.['required']" class="text-light"> Date of Birth is required</span>
        <span *ngIf="userdate.errors?.['min']" class="text-light"> User Date of Birth starts from 1960/01/01 </span>
        <span *ngIf="userdate.errors?.['max']" class="text-light"> User Date of Birth ends from 2010/12/31</span>
      </div>

      <p class="text-light mb-1"> Phone Number : <strong>{{this._global.userInfo.data?.phoneno}}</strong></p>
      <input type="text" class="form-control form-control-lg mb-4" #phoneno="ngModel" name="phoneno" placeholder="Phone number" [(ngModel)]="newUserData.phoneno" required >
      <div class="bg-danger rounded-1 p-2 " *ngIf="editModelForm.submitted && phoneno.invalid">
        <mat-icon class="text-light" svgIcon="error"></mat-icon>
        <span *ngIf="phoneno.errors?.['required']" class="text-light"> Phone number is required</span>
      </div>

      <p class="text-light mb-1"> Gender : <strong>{{this._global.userInfo.data?.gender}}</strong></p>
      <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
        <h2 class="mb-0 me-4">Gender: </h2>
        <div class="form-check form-check-inline mb-0 me-4">
          <input class="form-check-input" type="radio" name="gender" #gender="ngModel" id="femaleGender" value="female" [(ngModel)]="newUserData.gender"  />
          <label class="form-check-label" for="femaleGender">Female</label>
        </div>

        <div class="form-check form-check-inline mb-0 me-4">
          <input class="form-check-input" type="radio" name="gender" #gender="ngModel" id="maleGender"value="male" [(ngModel)]="newUserData.gender" required  />
          <label class="form-check-label" for="maleGender">Male</label>
        </div>

        <div class="form-check form-check-inline mb-0">
          <input class="form-check-input" type="radio" name="gender" #gender="ngModel" id="otherGender" value="other" [(ngModel)]="newUserData.gender"  />
          <label class="form-check-label" for="otherGender">Other</label>
        </div>

      </div>
      <div class="bg-danger rounded-1 p-2 " *ngIf="editModelForm.submitted && gender.invalid">
        <mat-icon class="text-light" svgIcon="error"></mat-icon>
        <span *ngIf="gender.errors?.['required']" class="text-light"> Gender is required</span>
      </div>
      <p class="text-light mb-1"> Job title : <strong>{{this._global.userInfo.data?.jobtitle}}</strong></p>
      <div class="dropdown  mb-4">
        <select class="form-select form-control form-control-lg ms-1 fs-5"  id="jobtitle" name="jobtitle" #jobtitle="ngModel" [(ngModel)]="newUserData.jobtitle"
        required minlength="2" maxlength="50" >
          <option value="" disabled>Choose your job title from this list:</option>
          <option *ngFor="let job of jobs" [value]="job" >{{job.charAt(0).toUpperCase() + job.slice(1)}}</option>
        </select>
      </div>

      <div class="bg-danger rounded-1 p-2 " *ngIf="editModelForm.submitted && jobtitle.invalid">
        <mat-icon class="text-light" svgIcon="error"></mat-icon>
        <span *ngIf="jobtitle.errors?.['required']" class="text-light"> job title is required</span>
        <span *ngIf="jobtitle.errors?.['minlength']" class="text-light"> Min length of job title is 2</span>
        <span *ngIf="jobtitle.errors?.['maxlength']" class="text-light"> Max length of job title is 50</span>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn light-blue-backdrop p-3 fs-5
        " (click)="c('Save click')" [disabled]="!editModelForm.valid"> <mat-icon svgIcon="save"></mat-icon> Save Changes</button>
      </div>
    </form>
  </div>
</div>
</ng-template>



