


<div class="container pb-5 mb-sm-4 m-5">
  <!-- Progress-->
  <div class="steps">

    <div class="steps-body">
      <div class="step step-completed">
        <span class="verified">
          <mat-icon svgIcon="verified"></mat-icon>
        </span>
          <mat-icon svgIcon="verify"></mat-icon>
        <h3 class="fw-bold">Verifying Process</h3></div>
        <div class="step step-completed">
          <span class="unverified">
            <mat-icon svgIcon="unverified"></mat-icon>
          </span>
            <mat-icon svgIcon="resetpass"></mat-icon>
          <h3 class="fw-bold">Reset password</h3></div>

          <div class="step step-completed">
            <span class="unverified">
              <mat-icon svgIcon="unverified"></mat-icon>
            </span>
              <mat-icon svgIcon="donepass"></mat-icon>
            <h3 class="fw-bold">Done</h3>
          </div>

  </div>
  </div>
  <!-- Footer-->

</div>

<div class="container">
  <br>
  <div class="row d-flex justify-content-center">
      <div class="col-lg-5 col-md-7  mb-5">
          <div class="card">
              <div class="card-body px-lg-5 py-lg-5 text-center">
                  <img src="../../../assets/resetpassword.png" class="rounded-circle avatar-lg img-thumbnail mb-4 w-50 h-50" alt="profile-image">
                  <h2 class="text-info">Your Password doesn't the include 'password' word and Password must contain at least one number , Capital letter and one special character</h2>
                  <p class="mb-4">Make sure that your password contains at least 6 characters and not more than 20 character</p>

                  <form [formGroup]="newpassword" (ngSubmit)="resetpassword()">
                    <div class="form-control">
                      <div class="row ">
                         <div class="col-10">
                          <input type="{{passwordstatus}}" class="border-0 w-100 p-1 fs-4" formControlName="password"
                          name="password"   placeholder="ex. @abcdeA12"   required  minlength="6" maxlength="20" matTooltip="Your Password doesn't the include 'password' word and Password must contain at least one number , Capital letter and one special character" [matTooltipPosition]="postionToolTip" matTooltipClass="tooltip"/>
                         </div>
                         <div class="col-2 mt-1">
                           <button type="button" class="bg-transparent border-0" (click)="showpassword()"><mat-icon  svgIcon="{{status}}"></mat-icon></button>
                         </div>
                     </div>
                   </div>


                      <div class="d-flex justify-content-end">
                          <button type="submit" class="btn btn-lg my-4" style="background-color:#283149;color:#B9D7E5;"><mat-icon svgIcon="resetpass"></mat-icon> Reset password</button>
                      </div>

                  </form>

              </div>
          </div>
      </div>
  </div>
</div>
