.example-card {
  margin-top:2vw;
  width: 80%;
  height: 50%;
}


.qtitle{
  cursor: pointer;
}
.qtitle:hover{
  color:#0d6efd;
}
* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
.twitter{
  background-color: #1DA1F2;
}
.facebook{
  background-color: #0C8CF2;
}

