<section >
  <div class="container py-5 h-75 w-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="../../../assets/Developers.jpg"
                alt="Ask Deveolper Logo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 100%;" />
            </div>

            <form class="col-xl-6"  [formGroup]="data"  (ngSubmit)="handleSubmit()" id="logForm" >
              <div class="card-body p-md-5 text-black">
                <div class="d-flex justify-content-center">
                <img src="../../../assets/asklogo.png" alt="logo" class="img-fluid" style="width: 60%;margin-bottom: 5%;">
              </div>
                <h1 class="text-center mb-5"><mat-icon svgIcon="login"></mat-icon> Login Form</h1>
                <div class="d-flex justify-content-center" *ngIf="this._global.isRegistered">
                  <div class="alert alert-success alert-dismissible fade show mt-3 w-100" role="alert">
                    <mat-icon svgIcon="success"></mat-icon>
                    <strong > Registered Successfully. you can Login now.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  </div>
                <div class="alert alert-danger" role="alert" *ngIf="userError">
                  <mat-icon svgIcon="error2" class="text-danger"></mat-icon> {{ErrorMessage}}
                 </div>

                <div class="form-outline mb-4">
                  <input type="email" formControlName="email"  class="form-control form-control-lg" placeholder="Email" required/>
                  <div class="bg-danger rounded-1 p-2" *ngIf="isSubmitted && LoginData?.['email']?.invalid">
                    <mat-icon class="text-light" svgIcon="error"></mat-icon>
                    <span *ngIf="LoginData?.['email']?.errors?.['required']" class="text-light"> Email is required</span>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="form-control">
                   <div class="row ">
                      <div class="col-10">
                       <input type="{{passwordstatus}}" class="border-0 w-100 p-1 fs-4"
                      formControlName="password" placeholder="Password"  required />
                      </div>
                      <div class="col-2 mt-1">
                        <button type="button" class="bg-transparent border-0" (click)="showpassword()"><mat-icon  svgIcon="{{status}}"></mat-icon></button>
                      </div>
                  </div>
                </div>
                <div class="bg-danger rounded-1 p-2" *ngIf="isSubmitted && LoginData?.['password']?.invalid">
                  <mat-icon class="text-light" svgIcon="error"></mat-icon>
                  <span *ngIf="LoginData?.['password']?.errors?.['required']" class="text-light"> Password is required</span>
                </div>
                </div>
                <h3 class="d-flex justify-content-end text-danger fw-bold" role='button' (click)="gotopage()" > Forgot password?</h3>


                <div class="d-flex justify-content-center pt-3">
                  <button type="submit" class="btn btn-warning btn-lg ms-2" ><mat-icon svgIcon="submit"></mat-icon> Submit form</button>
                </div>

                  <h3 class="text-center mt-4">Don't have an account? <a routerLink="/register" class="btn btn-primary"><mat-icon svgIcon="register"></mat-icon> Register</a></h3>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
